[alias]
    ci = commit
    co = checkout
    br = branch
    di = diff

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c
[user]
	email = uo252473@uniovi.es
	name = FJss23
